
body{
	background-color: #F8F8F2;
	/*background-color: white;*/
	margin:1%;
	text-align:center;
}
.seethrough{
	opacity:0.4;
	font-family: "Segoe UI", sans-serif;
}
#beatle{
 	color:#222;
 	font-family: "Segoe UI","Lato",'Montserrat', sans-serif;
 	text-transform: uppercase;
 	letter-spacing: 3px;
 	font-size:30px;
 	font-weight: 400;
 	margin-top:1%;
 	text-align: center;
}

#myname{
	font-family:"Bebas Neue";
	font-size:50px;
}

#myname:hover{
	color:#f90;
	color:#fc0;
}

p {
	margin:0;
	padding:0;

}

section {
	margin:2%;
	/*text-align:left;*/
}

#personalinfo p{
	font-size:12px;
}

p {
	font-family:"Amiko";
	font-size:12px;
}

.liltitle{
	font-family:"HK Grotesk";
	/*text-transform: uppercase;*/
	/*margin-top:2%;*/
	font-size:15px;
	/*font-weight:700;*/
}
div.liltitle{
	margin-top:10vh;
	font-size:17px;
}
.right{
	float:right;
	display:inline-block;
	/*background-color:yellow;*/
	text-align:left;
}
.left{
	left:7%;
	display:inline-block;
	/*background-color:yellow;*/
	text-align:center;
}

.notfocused{
	opacity:0.3;
}